<template>
  <div class="bg1"></div>
  <div class="bg2"></div>
  <div class="bg3"></div>
</template>

<script>
export default {};
</script>

<style scoped>
.bg1 {
  height: 100%;
  width: 100%;
  margin-top: -40px;
  background-color: rgb(150, 231, 245);
  clip-path: polygon(
    0 0,
    100% 0,
    53% 42%,
    100% 70%,
    38% 61%,
    74% 100%,
    0 82%,
    48% 19%
  );
  opacity: 20%;
  position: absolute;
  z-index: -1;
}
.bg2 {
  height: 100%;
  width: 100%;
  background-color: rgb(116, 211, 203);
  clip-path: polygon(
    0 16%,
    100% 0,
    21% 39%,
    100% 21%,
    92% 77%,
    9% 100%,
    76% 54%,
    14% 65%
  );
  opacity: 20%;
  position: absolute;
  z-index: -2;
}
.bg3 {
  height: 100%;
  width: 100%;
  background-color: rgb(173, 255, 200);
  clip-path: polygon(
    10% 25%,
    35% 25%,
    65% 25%,
    90% 25%,
    90% 50%,
    65% 50%,
    65% 100%,
    35% 100%,
    35% 50%,
    10% 50%
  );
  opacity: 20%;
  position: absolute;
  z-index: -3;
}

/** Mobile */
@media (max-width: 460px) {
  .bg1,
  .bg2,
  .bg3 {
    height: 150%;
  }
}
/** END Mobile */
</style>