<template>
  <form class="calculator-container">
    <div class="input-values">
      <div class="switch-block">
        <span class="switch-block__text">EUR</span>
        <input
          type="checkbox"
          id="switch-currency"
          name="switch-currency"
          class="switch switch--shadow"
          v-model="currencyChecked"
        />
        <label for="switch-currency"></label>
        <span class="switch-block__text">USD</span>
      </div>

      <div class="value-block">
        <label for="amount-spent" class="value-block__text">Valor</label>
        <span class="value-block__symbol">{{ symbol }}</span>
        <input
          type="number"
          id="amount-spent"
          name="amount-spent"
          class="value-block__input"
          v-model="amount"
        />
      </div>

      <div class="tip-block">
        <label for="tip" class="tip-block__text"
          >Gorjeta: <span>{{ percentTip }}%</span></label
        >
        <div class="tip-block__range">
          <span>10</span>
          <input
            type="range"
            id="tip"
            name="tip"
            min="10"
            max="20"
            v-model="percentTip"
          />
          <span>20</span>
        </div>
      </div>

      <div class="people-block">
        <label for="people" class="people-block__text"
          >Pessoas: <span>{{ numberPeople }}</span></label
        >
        <div class="people-block__range">
          <span>2</span>
          <input
            type="range"
            id="people"
            name="people"
            min="2"
            max="16"
            v-model="numberPeople"
          />
          <span>16</span>
        </div>
      </div>
    </div>

    <div class="results">
      <div class="results__account">
        <p class="results__account__text">Conta</p>
        <p class="results__account__value">{{ symbol }} {{ amount }}</p>
      </div>

      <div class="results__tip">
        <p class="results__tip__text">Gorjeta</p>
        <p class="results__tip__value">{{ symbol }} {{ finalTipCalc() }}</p>
      </div>

      <div class="results__total">
        <p class="results__total__text">Total</p>
        <p class="results__total__value">{{ symbol }} {{ totalCalc() }}</p>
      </div>

      <div class="results__per-person">
        <p class="results__per-person__text">por Pessoa</p>
        <p class="results__per-person__value">
          {{ symbol }} {{ totalPerPersonCalc() }}
        </p>
      </div>

      <div class="results__brl">
        <p class="results__brl__text">em R$</p>
        <p class="results__brl__value">R$ {{ exchangeCalcBRL() }}</p>
      </div>
    </div>
  </form>
</template>

<script>
export default {
  data() {
    return {
      amount: 0,
      currencyChecked: true, //O valor padrão/true é USD
      symbol: "$",
      percentTip: 10,
      finalTip: 0,
      numberPeople: 2,
      total: 0,
      totalPerPerson: 0,
      typeExchange: 1, //1 - USD-BRL e 2 - EUR-BRL
      exchanges: [],
      USD: 0,
      EUR: 0,
      BRL: 0,
    };
  },
  watch: {
    //Verifica qual tipo de moeda está selecionada
    currencyChecked() {
      if (this.currencyChecked == true) {
        console.log("Alterado para USD");
        this.symbol = "$";
        this.typeExchange = 1;
      } else {
        console.log("Alterado para EUR");
        this.symbol = "€";
        this.typeExchange = 2;
      }
    },
  },
  methods: {
    //Calcular o valor percentual da gorjeta e já informa o valor nos resultados
    finalTipCalc() {
      this.finalTip = this.amount * (this.percentTip / 100);
      return this.finalTip.toFixed(2);
    },
    //Calcula o total
    totalCalc() {
      this.total = this.amount + this.finalTip;
      return this.total.toFixed(2);
    },
    //Calcula o total por pessoa
    totalPerPersonCalc() {
      this.totalPerPerson = this.total / this.numberPeople;
      return this.totalPerPerson.toFixed(2);
    },
    //Converte o valor de USD/EUR para BRL
    exchangeCalcBRL() {
      if (this.typeExchange == 1) {
        this.BRL = this.total * this.USD;
      } else if (this.typeExchange == 2) {
        this.BRL = this.total * this.EUR;
      }
      return this.BRL.toFixed(2);
    },

    //Pega os dados das cotações de USD e EUR
    async getData() {
      try {
        let response = await fetch(
          "https://economia.awesomeapi.com.br/last/USD-BRL,EUR-BRL"
        );
        this.exchanges = await response.json();
        this.USD = this.exchanges["USDBRL"].ask;
        this.EUR = this.exchanges["EURBRL"].ask;
      } catch (error) {
        console.log(error);
      }
    },
  },
  created() {
    this.getData();
  },
  props: {},
};
</script>

<style scoped>
/** Container  */
.calculator-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: flex-start;
}
.input-values,
.results {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 5px;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}
/** END Container  */

/** Input Values ---------  */
/** Botão de alternância EUR/USD */
.switch-block {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.switch-block__text {
  margin: 20px;
  font-weight: 600;
}
.switch-block__text:nth-child(1) {
  color: #410000;
}
.switch-block__text:nth-last-child(1) {
  color: #00158f;
}
.switch {
  position: absolute;
  visibility: hidden;
}
.switch + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}
.switch--shadow + label {
  padding: 2px;
  width: 60px;
  height: 30px;
  background-color: #410000;
  border-radius: 5px;
}
.switch--shadow + label:before,
.switch--shadow + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
.switch--shadow + label:before {
  right: 1px;
  background-color: #660000;
  border-radius: 5px;
  transition: all 0.4s;
}
.switch--shadow + label:after {
  width: 32px;
  background-color: #fff;
  border-radius: 12%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.4s;
}
.switch--shadow:checked + label:before {
  background-color: #00158f;
}
.switch--shadow:checked + label:after {
  transform: translateX(30px);
}
/** END Botão de alternância EUR/USD */

/** Input do valor gasto */
.value-block {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin: 20px;
}
.value-block__input {
  width: 100px;
  height: 40px;
  font-size: x-large;
}
.value-block__text {
  margin: 20px;
}
.value-block__symbol {
  margin: 20px 4px 20px 5px;
}
/** END Input do valor gasto */

/** Gorjeta */
.tip-block {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;
}
.tip-block__range {
  display: flex;
  margin: 10px;
}
.tip-block__text > span {
  font-size: x-large;
}
/** END Gorjeta */

/** Pessoas */
.people-block {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;
}
.people-block__range {
  display: flex;
  margin: 10px;
}
.people-block__text > span {
  font-size: x-large;
}
/** END Pessoas */

/** END Input Values ---------  */

/** Results ---------  */
.results__account,
.results__tip,
.results__total,
.results__per-person,
.results__brl {
  margin: 5px;
}
.results__account__value,
.results__tip__value,
.results__total__value,
.results__per-person__value,
.results__brl__value {
  font-size: x-large;
  font-weight: 700;
}

/** END Results ---------  */
</style>