<template>
  <Background />
  <HeaderTitle title="Le/Tip" />
  <Calculator />
</template>

<script>
import Background from "./components/Background.vue";
import Calculator from "./components/Calculator.vue";
import HeaderTitle from "./components/HeaderTitle.vue";

export default {
  name: "App",
  components: {
    Background,
    HeaderTitle,
    Calculator,
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
